<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de una nueva cita</h5>
  </div>
  <div class="card-body p-5">
    <form #formulario="ngForm">
      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Código del Paciente:</label>
        <div class="col-sm-10">
          <input #codigoPaciente="ngModel"
            [ngClass]="codigoPaciente.invalid && (codigoPaciente.dirty || codigoPaciente.touched) ? 'is-invalid' : ''"
            type="text" name="codigoPaciente" class="form-control" required [(ngModel)]="filtroBusquedad.codigoPaciente"
            (keypress)="onlyNumberKey($event)" />
        </div>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Fecha:</label>
        <div class="col-sm-10">
          <input #fecha="ngModel"
            [ngClass]="fecha.invalid && (fecha.dirty || fecha.touched) ? 'is-invalid' : ''"
            type="date" name="fecha" [(ngModel)]="filtroBusquedad.fecha" required (change)="validarFecha()" />
        </div>
      </div>

      <div *ngIf="fechaInvalida">
        <p style="color: red;">La fecha seleccionada no es válida. Debe ser en el futuro.</p>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Nombre del Médico:</label>
        <div class="col-sm-10">
          <input #nombreMedico="ngModel"
            [ngClass]="nombreMedico.invalid && (nombreMedico.dirty || nombreMedico.touched) ? 'is-invalid' : ''"
            type="text" name="nombreMedico" class="form-control" required [(ngModel)]="filtroBusquedad.nombreMedico" />
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">
          <i class="fa-solid fa-circle-plus me-1"></i>Enviar
        </button>
      </div>

      <!-- Tabla -->
    <div class="mt-4">
      <h5>Listado de Citas</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Fecha de Cita</th>
            <th>Especialidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí puedes iterar sobre tus datos y llenar la tabla -->
         <tr *ngFor="let cita of citas">
            <td>{{ cita.codigo }}</td>
            <td>{{ cita.cedula }}</td>
            <td>{{ cita.nombre }}</td>
            <td>{{ cita.fechaCita }}</td>
            <td>{{ cita.especialidad }}</td>
            <td>{{ cita.estado }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    </form>
  </div>
</div>

