<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Ver detalle citas</h5>
  </div>
  <div class="card-body p-5">
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Cédula</th>
          <th>Tratamiento</th>
          <th>Diagnóstico</th>
          <th>Notas Médicas</th>
          <th>Motivo</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!-- Aquí puedes iterar sobre tus datos y llenar la tabla -->
        <tr *ngFor="let paciente of detalleCita">
          <td>{{ paciente.codigo }}</td>
          <td>{{ paciente.nombre }}</td>
          <td>{{ paciente.cedula }}</td>
          <td>{{ paciente.tratamiento }}</td>
          <td>{{ paciente.diagnostico }}</td>
          <td>{{ paciente.notasMedicas }}</td>
          <td>{{ paciente.motivo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
