<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo paciente</h5>
  </div>
  <div class="card-body p-5">
    <table class="table">
      <thead>
        <tr>
          <th>Código Cita</th>
          <th>Cédula Paciente</th>
          <th>Nombre Paciente</th>
          <th>URL Foto</th>
          <th>Fecha Cita Futura</th>
          <th>EPS</th>
          <th>Estado Cita</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí puedes iterar sobre tus datos y llenar la tabla -->
        <tr *ngFor="let cita of listaCitasMedico">
          <td>{{ cita.codigoCita }}</td>
          <td>{{ cita.cedulaPaciente }}</td>
          <td>{{ cita.nombrePaciente }}</td>
          <td>{{ cita.urlFoto }}</td>
          <td>{{ cita.fechaCitasFutura }}</td>
          <td>{{ cita.eps }}</td>
          <td>{{ cita.estadoCita }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

