.recuperar-contrasena {
  background-color: #8a2be2; /* Morado */
  border-color: #8a2be2; /* Borde del mismo color */
  color: #fff; /* Texto blanco */
}

.recuperar-contrasena:hover {
  background-color: #6a1e9b; /* Morado oscuro al pasar el mouse */
  border-color: #6a1e9b; /* Borde oscuro al pasar el mouse */
}
