<header>
  <p>Página inicial de {{title}}</p>
  <br>
  <p>Los integrantes son {{integrantes}}</p>
    <ul>
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/pqrs">Pqrs paciente</a></li>
      <li><a routerLink="/citas">Citas</a></li>
      <li><a routerLink="/editar-perfil"> Editar perfil</a></li>
      <li><a routerLink="/listar-citas-pendientes">Citas pendientes</a></li>
      <li><a routerLink="/atender-citas">Atender citas</a></li>
      <li><a routerLink="/listar-citas-realizadas">Citas realizadas</a></li>
      <li><a routerLink="/agendar-dia-libre">Agendar dia libre</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <p>Universidad del Quindío - 2023</p>
  </footer>
