<header>
  <p>Página inicial de {{title}}</p>
  <br>
  <p>Los integrantes son {{integrantes}}</p>
    <ul>
      <li><a routerLink="">Inicio</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registro">Registro</a></li>
      <li><a routerLink="/editar-perfil"> Editar perfil</a></li>
      <li><a routerLink="/listar-citas-pendientes">Citas pendientes</a></li>
      <li><a routerLink="/atender-citas">Atender citas</a></li>
      <li><a routerLink="/listar-citas-realizadas">Citas realizadas</a></li>
      <li><a routerLink="/agendar-dia-libre">Agendar dia libre</a></li>

      <li><a routerLink="/crear-cita-paciente">Crear cita paciente</a></li>
      <li><a routerLink="/crear-pqr-paciente">Crear Pqr paciente</a></li>
      <li><a routerLink="/filtrar-medico-fecha-paciente"> filtrar cita paciente</a></li>
      <li><a routerLink="/inicio-medico">Inicio Medico</a></li>
      <li><a routerLink="/inicio-paciente">Inicio Paciente</a></li>
      <li><a routerLink="/listar-cita">Listar citas paciente</a></li>
      <li><a routerLink="/listar-pqrs-paciente">Pqrs del Paciente</a></li>
      <li><a routerLink="/recuperar-contrasena">Recuperar contraseña</a></li>
      <li><a routerLink="/ver-detalle-cita"> Detalles de citas</a></li>
      <li><a routerLink="/ver-Detalle-pqr-paciente"> Detalle del Pqr paciente</a></li>
    </ul>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <p>Universidad del Quindío - 2023</p>
  </footer>
