<div class="card">

  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Citas atender</h5>
  </div>

  <div class="card-body p-5">

    <form #citaForm="ngForm">

      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Diagnóstico:</label>
        <div class="col-sm-10">
          <textarea #diagnostico="ngModel"
            [ngClass]="diagnostico.invalid && (diagnostico.dirty || diagnostico.touched) ? 'is-invalid' : ''"
            name="diagnostico" class="form-control" rows="3" required [(ngModel)]="atenderCitasDTO.diagnostico"></textarea>
        </div>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Notas:</label>
        <div class="col-sm-10">
          <textarea #notas="ngModel"
            [ngClass]="notas.invalid && (notas.dirty || notas.touched) ? 'is-invalid' : ''"
            name="notas" class="form-control" rows="3" [(ngModel)]="atenderCitasDTO.notas"></textarea>
        </div>
      </div>

      <div class="mb-3">
        <label class="col-sm-2 col-form-label">Tratamiento:</label>
        <div class="col-sm-10">
          <textarea #tratamiento="ngModel"
            [ngClass]="tratamiento.invalid && (tratamiento.dirty || tratamiento.touched) ? 'is-invalid' : ''"
            name="tratamiento" class="form-control" rows="3" required [(ngModel)]="atenderCitasDTO.tratamiento"></textarea>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="citaForm.invalid">
        <i class="fa-solid fa-circle-plus me-1"></i>Enviar
      </button>

    </form>

  </div>

</div>
