<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-file-circle-plus me-2"></i>Crear nueva Cita</h5>
  </div>
  <div class="card-body p-5">
    <form #f="ngForm" (ngSubmit)="agendarCita()">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Especialidad: </label>
        <div class="col-sm-10">
          <select name="especialidad" required class="form-select" [(ngModel)]="crearCitaPaciente.especialidad">
            <option value="" selected>Seleccione una especialidad</option>
            <option value="Cardiologia">Cardiología</option>
            <option value="Neurologia">Neurología</option>
            <option value="Pedriata">Pedriatría</option>
            <option value="Oncologia">Oncología</option>
            <option value="Ortopedia">Ortopedia</option>
            <option value="Cirujano plastico">Cirujano Plástico</option>
          </select>
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Nombre paciente: </label>
        <div class="col-sm-10">
          <input
            #nombrePaciente="ngModel"
            [ngClass]="nombrePaciente.invalid && (nombrePaciente.dirty || nombrePaciente.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.nombrePaciente"
            name="nombrePaciente"
            required
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Cédula médico: </label>
        <div class="col-sm-10">
          <input
            #cedulaMedico="ngModel"
            [ngClass]="cedulaMedico.invalid && (cedulaMedico.dirty || cedulaMedico.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.cedulaMedico"
            name="cedulaMedico"
            required
            class="form-control"
          />
        </div>

      </div>
      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Cédula paciente: </label>
        <div class="col-sm-10">
          <input
            #cedulaPaciente="ngModel"
            [ngClass]="cedulaPaciente.invalid && (cedulaPaciente.dirty || cedulaPaciente.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.cedulaPaciente"
            name="cedulaPaciente"
            required
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Motivo: </label>
        <div class="col-sm-10">
          <input
            #motivo="ngModel"
            [ngClass]="motivo.invalid && (motivo.dirty || motivo.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.motivo"
            name="motivo"
            required
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Horarios: </label>
        <div class="col-sm-10">
          <input
            #horarios="ngModel"
            [ngClass]="horarios.invalid && (horarios.dirty || horarios.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.horarios"
            name="horarios"
            required
            class="form-control"
          />
        </div>
      </div>

      <div>
        <label for="fechaInput">Fecha:</label>
        <div class="col-sm-10">
          <input #diaLibre="ngModel"
            [ngClass]="diaLibre.invalid && (diaLibre.dirty || diaLibre.touched) ? 'is-invalid' : ''" type="date"
            name="diaLibre" [(ngModel)]="crearCitaPaciente.fechaCita" required="true" (change)="validarFecha()" />
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">nombre medico: </label>
        <div class="col-sm-10">
          <input #nombreMedico="ngModel"
                 [ngClass]="nombreMedico.invalid && (nombreMedico.dirty || nombreMedico.touched) ? 'is-invalid' : ''"
                 type="text" [(ngModel)]="crearCitaPaciente.nombreMedico" name="nombreMedico" required class="form-control" />
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
        <i class="fa-solid fa-circle-plus me-1"></i>Crear Cita
      </button>
    </form>
  </div>
</div>

