<div class="card">
  <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-file-circle-plus me-2"></i>Crear nueva Cita</h5>
  </div>
  <div class="card-body p-5">
    <form #f="ngForm" (ngSubmit)="agendarCita()">

      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Especialidad: </label>
        <div class="col-sm-10">
          <select name="eps" required class="form-select" [(ngModel)]="crearCitaPaciente.especialidad">
            <option value="" selected>Seleccione una eps</option>
            <option [value]="item" *ngFor="let item of especialidad; index as i">{{item}}</option>
          </select>
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Cédula médico: </label>
        <div class="col-sm-10">
          <input
            #codigoMedico="ngModel"
            [ngClass]="codigoMedico.invalid && (codigoMedico.dirty || codigoMedico.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.codigoMedico"
            name="cedulaMedico"
            required
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3 fila">
        <label class="col-sm-2 col-form-label">Motivo: </label>
        <div class="col-sm-10">
          <input
            #motivo="ngModel"
            [ngClass]="motivo.invalid && (motivo.dirty || motivo.touched) ? 'is-invalid' : ''"
            type="text"
            [(ngModel)]="crearCitaPaciente.motivo"
            name="motivo"
            required
            class="form-control"
          />
        </div>
      </div>

      <div>
        <label for="fechaInput">Fecha:</label>
        <div class="col-sm-10">
          <input #diaLibre="ngModel"
            [ngClass]="diaLibre.invalid && (diaLibre.dirty || diaLibre.touched) ? 'is-invalid' : ''" type="date"
            name="diaLibre" [(ngModel)]="crearCitaPaciente.fechaCita" required="true" (change)="validarFecha()" />
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
        <i class="fa-solid fa-circle-plus me-1"></i>Crear Cita
      </button>
    </form>
  </div>
</div>

