<p>inicio works!</p>

<p> Paciente </p>


<ul class=" col-lg-auto me-lg-auto mb-2 mb-md-0">
  <li><a routerLink="/crear-cita-paciente" class="px-2 text-black">Crear cita paciente</a></li>
  <li><a routerLink="/crear-pqr-paciente" class="px-2 text-black">Crear Pqr paciente</a></li>
  <li><a routerLink="/recuperar-contrasena" class="px-2 text-black">Recuperar contraseña</a></li>
  <li><a routerLink="" class="px-2 text-black"> Detalles de citas</a></li>
  <li><a routerLink="" class="px-2 text-black"> Listar citas</a></li>
  <li><a routerLink="" class="px-2 text-black"> Ver detalle de una PQRS </a></li>
  <li><a routerLink="" class="px-2 text-black"> Ver detalle de una Cita</a></li>
  <li><a routerLink="" class="px-2 text-black"> Filtrar medico por fecha</a></li>
</ul>


<p> Medico </p>


<ul class=" col-lg-auto me-lg-auto mb-2 mb-md-0">
  <li><a routerLink="" class="px-2 text-black"> Listar cita</a></li>
  <li><a routerLink="" class="px-2 text-black"> Ver detalle PQRS</a></li>
  <li><a routerLink="" class="px-2 text-black"> Recuperar contraseña</a></li>
</ul>
