<div class="main-container">
  <h2 class="titulo-paciente">Pacientes</h2>
  <section class="category">
    <ul class="nav-links">
      <li><a routerLink="/editarPerfil" class="link">Editar Perfil</a></li>
      <li><a routerLink="/filtrarMedicoFechaPaciente" class="link">Filtrar médico por fecha</a></li>
    </ul>
  </section>

  <div class="divider"></div>

  <h2 class="titulo-paciente">Médico</h2>
  <section class="category">
    <ul class="nav-links">
      <li><a routerLink="/agendarDiaLibre" class="link">Agendar día libre</a></li>
      <li><a routerLink="/atenderCitas" class="link">Atender cita</a></li>
      <li><a routerLink="/listarCitasPendientesMedico" class="link">Listar cita realizada</a></li>
      <li><a routerLink="/listarCitasRealizadas" class="link">Historial de citas pendientes</a></li>
    </ul>
  </section>
</div>
