<p>inicio works!</p>

<p> Paciente </p>


<ul class=" col-lg-auto me-lg-auto mb-2 mb-md-0">
  <li><a routerLink="/editarPerfil" class="px-2 text-black"> Editar Perfil</a></li>

  <li><a routerLink="/listarCitasPendientes" class="px-2 text-black"> Citas pendientes</a></li>
  <li><a routerLink="/filtrarMedicoFechaPaciente" class="px-2 text-black"> Filtrar medico por fecha</a></li>
  <li><a routerLink="/verDetalleCita" class="px-2 text-black"> detalle cita</a></li>
</ul>


<p> Medico </p>


<ul class=" col-lg-auto me-lg-auto mb-2 mb-md-0">
  <li><a routerLink="/agendarDiaLibre" class="px-2 text-black"> Agendar día libre</a></li>
  <li><a routerLink="/atenderCitas" class="px-2 text-black"> Atender cita</a></li>
  <li><a routerLink="/listarCitasRealizadas" class="px-2 text-black"> Listar cita Realizada</a></li>
  <li><a routerLink="/listarCitasPendientesMedico" class="px-2 text-black"> Listar cita Pendientes</a></li>
  <li><a routerLink="" class="px-2 text-black"> Historial de citas</a></li>
</ul>
